<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <%- include('partials/head.html') %>
</head>
<body>
    <%- include('partials/navigation.html') %>
    
    <div
    class="bg-image d-flex justify-content-center align-items-center mb-5"
    style="
      background-image: url('/img/background.jpg');
      height: 100vh;
      background-repeat: no-repeat;
      background-size: cover">
    <h1 class="text-white">Rakis</h1>
  </div>
  

    <div class="container" id="rakis">
      <div class="d-flex justify-content-center mt-5">
          <div class="card" style="max-width: 100%">
            <div class="card-body">
              <h5 class="card-title text-center pb-3">Quienes somos</h5>
              <p class="card-text">Somos un equipo conformado por docentes, investigadores, terapeutas y artistas especializados en diversas áreas del movimiento. Nos dedicamos a crear distintos <a href="/programs">Programas</a> 
                acorde a las necesidades, problemas a resolver y/ o para ayudar a conseguir objetivos específicos orientados a  empresas y instituciones educativas. En todos los programas el cuerpo es el eje del trabajo  
                (explicar por qué, y también porque del nombre rakis)tenemos la intencion de construir en cada escuela la pedagogia somatica como un area troncal del programa educativo.Trabajamos en armar el plan ideal 
                acorde a las necesidades de cada institucion y ofrecemos formar a los docentes para que incluyan el trabajo corporal en sus clases y de esta forma optimizar el aprendizaje.</p>
              </div>
          </div>
      </div>
    </div>

    <div class="container" id="about">
      <div class="d-flex justify-content-center m-5">
          <div class="card m-3" style="max-width: 300px">
            <img src="/img/avatar1.png" alt="..." class="card-img-top img-thumbnail">
            <div class="card-body">
              <h5 class="card-title">Roxana</h5>
              <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae tenetur quibusdam voluptatem deleniti praesentium reprehenderit </p>
            </div>
          </div>
          <div class="card m-3" style="max-width: 300px">
            <img src="/img/avatar2.png" alt="..." class="card-img-top img-thumbnail">
            <div class="card-body">
              <h5 class="card-title">Valentina</h5>
              <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae tenetur quibusdam voluptatem deleniti praesentium reprehenderit</p>
            </div>
          </div>
          <div class="card m-3" style="max-width: 300px">
            <img src="/img/avatar3.png" alt="..." class="card-img-top img-thumbnail">
            <div class="card-body">
              <h5 class="card-title">Adam</h5>
              <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae tenetur quibusdam voluptatem deleniti praesentium reprehenderit </p>
            </div>
          </div>
      </div>
    </div>

  <%- include('partials/footer.html') %>
  <%- include('partials/scripts.html') %>
</body>
</html>