<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <%- include('partials/head.html') %>
</head>
<body>
    <%- include('partials/navigation.html') %>
    

    <div class="container">
      <div class="d-flex justify-content-center mt-4">
          <div class="card mb-3 position-relative">
            <img src="/img/background.jpg" alt="..." class="card-img-top img-fluid">
            <div class="card-img-overlay position-absolute top-50 start-50 translate-middle">
              <h1 class="card-title text-white">Rakis</h1>
            </div>
          </div>
      </div>
    </div>

    <div class="container" id="rakis">
      <div class="d-flex justify-content-center mt-4">
          <div class="card" style="max-width: 1100px">
            <div class="card-body">
              <h5 class="card-title">Quienes somos</h5>
              <p class="card-text">Somos un *equipo* conformado por docentes, investigadores, terapeutas y artistas especializados en diversas *áreas del movimiento*. Nos dedicamos a crear distintos *Programas rakis*  acorde a las necesidades, problemas a resolver y/ o para ayudar a conseguir objetivos específicos orientados a  empresas y instituciones educativas. En todos los programas el cuerpo es el eje del trabajo  (explicar por qué, y también porque del nombre rakis)tenemos la intencion de construir en cada escuela la pedagogia somatica como un area troncal del programa educativo.
                Trabajamos en armar el plan ideal acorde a las necesidades de cada institucin y ofrecemos formar a los docentes para que incluyan el trabajo
                corporal en sus clases y de esta forma optimizar el aprendizaje.</p>
              </div>
              <div class="card position-relative">
                <img src="/img/img3.jpg" alt="..." class="card-img-top img-fluid">
                <div class="card-img-overlay position-absolute top-50 start-50 translate-middle">
                <button type="button" class="btn btn-secondary btn-lg">Programas Rakis</button>
                </div>
              </div>
          </div>
      </div>
    </div>

    <div class="container" id="about">
      <div class="d-flex justify-content-center m-5">
          <div class="card m-3" style="max-width: 300px">
            <img src="/img/avatar1.png" alt="..." class="card-img-top img-thumbnail">
            <div class="card-body">
              <h5 class="card-title">Roxana</h5>
              <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae tenetur quibusdam voluptatem deleniti praesentium reprehenderit </p>
            </div>
          </div>
          <div class="card m-3" style="max-width: 300px">
            <img src="/img/avatar2.png" alt="..." class="card-img-top img-thumbnail">
            <div class="card-body">
              <h5 class="card-title">Valentina</h5>
              <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae tenetur quibusdam voluptatem deleniti praesentium reprehenderit</p>
            </div>
          </div>
          <div class="card m-3" style="max-width: 300px">
            <img src="/img/avatar3.png" alt="..." class="card-img-top img-thumbnail">
            <div class="card-body">
              <h5 class="card-title">Adam</h5>
              <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae tenetur quibusdam voluptatem deleniti praesentium reprehenderit </p>
            </div>
          </div>
      </div>
    </div>

    <%- include('partials/footer.html') %>
</body>
</html>