<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <%- include('partials/head.html') %>
</head>
<body>
    <%- include('partials/navigation.html') %>

    <div class="container" id="rakis">
        <div class="d-flex justify-content-center m-4">
            <div class="card" style="max-width: 1100px">
                <div class="card position-relative">
                  <img src="/img/img3.jpg" alt="..." class="card-img-top img-fluid ">
                  <div class="card-img-overlay position-absolute bottom-0 end-0">
                  <button type="button" class="btn btn-secondary btn-lg" id="programs__btn">Programas Rakis</button>
                  </div>
                </div>
            </div>
        </div>
      </div>

     <div class="container" id="programs__info"></div> 

    <%- include('partials/footer.html') %>
    <%- include('partials/scripts.html') %>
</body>
</html>